<!--Start download_body-->
<tr>
    <td style='font-size: 14px; padding: 3px 0 5px 0; color: #585657; line-height: 150%;'>
        <table width='100%'>
            <tr>
                <td>
                    <p>
                        <a href='{staff_address}'>{staff_name}</a> has sent you new materials to download from CATES HQ! They're also available to download from your home page.
                    </p>
                </td>
            </tr>
            <tr>
                <td align='center'>
                    <table width='80%' bgcolor='#ffffff' style='padding: 0 0 0 0; color: #800000;'>
                        <!--start looped-->~%<tr>
                            <td align='center' width='50%' style='padding: 10px 5px 0 0;'>
                                {downloads}
                            </td>
                        </tr>%~<!--end looped-->
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        If you have any questions, please don't hesitate to contact us at <a href='mailto:{contact_address}'>{contact_address}</a>
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--End download_body-->