                                <!--Start footer-->
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align='center' bgcolor='#FFFFFF' style='padding: 5px 0 3px 0; line-height:80%; border-top:thin dashed #cccccc;'>
                                <table align='center' width='100%'>
                                    <tr>
                                        <td align='center'>
                                            <img src='../img/apple.jpg' alt='apple' />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align='center' style='padding: 10px 0 0 10px;'>
                                            <a href='http://www.cateshq.com' style='text-decoration:none;'><font color='#800000'>CATEShq.com</font></a>, <a href='http://www.catestutoring.com' style='text-decoration:none;'><font color='#800000'>CATESTutoring.com</font></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align='center' style='padding: 10px 0 20px 0; font-size: 12px;'>
                                            &copy; CATES LLC., {current_year}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>