<!--Start mocktest_assignment_body-->
<tr>
    <td style='font-size: 14px; padding: 3px 0 5px 0; color: #585657; line-height: 150%;'>
        <table width='100%'>
            <tr>
                <td>
                    <p>
                        This is to confirm that you've been registered to take a mock {test_type} on {test_date} at our {location_name} testing center. Here are the details:
                    </p>
                </td>
            </tr>
            <tr>
                <td align='center'>
                    <table width='80%' bgcolor='#ffffff' style='padding: 0 0 0 0; color: #800000;'>
                        <tr>
                            <td align='right' style='width:20%; padding: 10px 5px 0 0;'>
                                <strong>
                                    start time:
                                </strong>
                            </td>
                            <td align='left' style='width:80%; padding: 10px 0 0 5px;'>
                                {start_time} <em>(please arrive 15 minutes early)</em> 
                            </td>
                        </tr><!--end start time row-->
                        <tr>
                            <td align='right' style='width:20%; padding: 10px 5px 0 0;'>
                                <strong>
                                    address: 
                                </strong>
                            </td>
                            <td align='left' style='width:80%; padding: 10px 0 0 5px;'>
                                {address_block}
                            </td>
                        </tr><!--end address row-->
                        <tr>
                            <td style='width:20%; padding:10px 5px 0 0;'>
                                &nbsp;
                            </td>
                            <td align='left' style='width:80%; padding: 10px 0 10px 5px;'>
                                Directions can be found <a href='{directions_link}'>here</a>.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    Any questions? Please don't hesitate to contact us at <a href='mailto:{mocktest_contact_address}'>{mocktest_contact_address}</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--End mocktest_assignment_body-->