<!--Start registration_body-->
<tr>
    <td style='font-size: 14px; padding: 3px 0 5px 0; color: #585657; line-height: 150%;'>
        <table width='100%'>
            <tr>
                <td>
                    <p>
                        Thanks for setting up your user account at <a href='http://www.cateshq.com'>CATES HQ</a>. For your records, here's your current access information:
                    </p>
                </td>
            </tr>
            <tr>
                <td align='center'>
                    <table width='80%' bgcolor='#ffffff' style='padding: 0 0 0 0; color: #800000;'>
                        <tr>
                            <td align='right' style='width:20%; padding: 10px 5px 0 0;'>
                                <strong>
                                    username:
                                </strong>
                            </td>
                            <td align='left' style='width:80%; padding: 10px 0 0 5px;'>
                                {username} 
                            </td>
                        </tr><!--end username row-->
                        <tr>
                            <td align='right' style='width:20%; padding: 10px 5px 0 0;'>
                                <strong>
                                    password: 
                                </strong>
                            </td>
                            <td align='left' style='width:80%; padding: 10px 0 0 5px;'>
                                '{password}'
                            </td>
                        </tr><!--end password row-->
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        If you have any questions, please don't hesitate to contact us at <a href='mailto:{contact_address}'>{contact_address}</a>. Thanks again and have fun!
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--End registration_body-->