<tr>
    <td style='font-size: 14px; padding: 3px 0 5px 0; color: #585657; line-height: 150%;'>
        <table width='100%'>
            <tr>
                <td style='padding: 0 0 10px 0;'>
                    <a href='mailto:{staff_address}'>{staff_name}</a> attached this message:
                </td>
            </tr>
            <tr>
                <td style='border-bottom: thin #cccccc dashed; border-top: thin #cccccc dashed; font-style: italic;'>
                    <p>
                        {attached_message}
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr> 